/*****************/

.ec-footer {
  color: #ffffff;
  background: #222222;
}

.ec-footer .footer-top {
  border-top: 1px solid #3c3c3c;
}

.ec-footer .footer-top .col-sm-12 {
  width: 20%;
}

.ec-footer .footer-top .ec-footer-widget .ec-footer-heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #ffffff;
  letter-spacing: 0;
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 7px;
  text-transform: uppercase;
}

.ec-footer .footer-top .ec-footer-widget .ec-footer-heading::before {
  content: "";
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  height: 1px;
  border-bottom: 1px solid #ff764b;
  bottom: 0;
  width: 53px;
}

.ec-footer .footer-top .ec-footer-widget .s-head {
  display: none;
}

.ec-footer .footer-top .ec-footer-widget .ec-footer-links .ec-footer-link {
  display: block;
  margin: 0;
  line-height: 1.5;
  border: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ec-footer .footer-top .ec-footer-widget .ec-footer-links .ec-footer-link:not(:last-child) {
  margin-bottom: 16px;
}

.ec-footer .footer-top .ec-footer-widget .ec-footer-links .ec-footer-link a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #ffffff;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  word-break: break-all;
  opacity: 0.4;
  letter-spacing: 0;
  font-weight: 300;
}

.ec-footer .footer-top .ec-footer-widget .ec-footer-links .ec-footer-link a:hover {
  color: #ff764b;
  opacity: 1;
}

.ec-footer .footer-top .ec-footer-contact .ec-footer-widget .ec-footer-links li:first-child {
  -webkit-box-align: self-start;
  -ms-flex-align: self-start;
  align-items: self-start;
}

.ec-footer .footer-top .ec-footer-contact .ec-footer-widget .ec-footer-links li p {
  font-weight: 300;
  opacity: 0.4;
}

.ec-footer .footer-top .ec-footer-contact .ec-footer-widget .ec-footer-links a {
  text-transform: unset;
}

.ec-footer .footer-top .ec-footer-contact .ec-footer-widget .ec-footer-links .ec-footer-link span {
  width: 35px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ec-footer .footer-top .ec-footer-contact .ec-footer-widget .ec-footer-links .ec-footer-link span i {
  font-size: 18px;
  line-height: 15px;
  opacity: 0.4;
}

.ec-footer .footer-top .ec-footer-social {
  margin-bottom: 0;
}

.ec-footer .footer-top .ec-footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ec-footer .footer-top .ec-footer-social .ec-footer-widget .ec-footer-links .ec-footer-link {
  padding-right: 5px;
}

.ec-footer .footer-top .ec-footer-social .ec-footer-widget .ec-footer-links .ec-footer-link:not(:last-child) {
  margin-bottom: 0;
}

.ec-footer .footer-top .ec-footer-social .ec-footer-widget .ec-footer-links .ec-footer-link a {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}

.ec-footer .footer-top .ec-footer-social .ec-footer-widget .ec-footer-links .ec-footer-link a i {
  font-size: 25px;
  margin-right: 10px;
}

.footer-cat-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}

.footer-cat-block .footer-cat-stitle {
  margin-bottom: 14px;
  font-weight: 600;
  color: #ff764b;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.footer-cat-block .footer-cat-title {
  font-size: 13px;
  font-weight: 600;
  color: #999;
  letter-spacing: 0;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.footer-cat-block a,
.footer-cat-block span {
  color: #787878;
}

.footer-cat-block a {
  padding: 0 5px;
  text-transform: capitalize;
}

.footer-cat-block a:hover {
  color: #999;
}

.footer-cat-block .block {
  margin: 5px 0;
}

div#ec_news_signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ec-footer-contact {
  margin-bottom: 30px;
}

.svg_img.foo_svg {
  height: 25px;
  fill: #ffffff;
  width: auto;
  opacity: 0.4;
}

.ec-foo-location .svg_img.foo_svg {
  margin-top: 3px;
}

.ec-foo-call .svg_img.foo_svg {
  height: 24px;
}

.ec-foo-mail .svg_img.foo_svg {
  height: 20px;
}

.footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #3c3c3c;
}

.footer-bottom .ec-copy {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 3.2px;
  text-align: center;
  opacity: 0.4;
  font-weight: 300;
}

.footer-bottom .ec-copy a {
  color: #ffffff;
}

.footer-bottom .ec-copy .site-name:hover {
  color: #ff764b;
}

.footer-bottom-payment {
  margin-bottom: 15px;
}

.ec-heading-res {
  display: none;
}

body>header>div.ec-header-bottom.d-none.d-lg-block>div>div>div>div:nth-child(3)>div>div {
  margin-bottom: 7px !important;
}

.ec-footer .footer-top .ec-footer-widget .ec-footer-heading {
  border: none;
}
.ec-footer .footer-top .ec-footer-contact .ec-footer-widget .ec-footer-heading {
  display: block;
}